@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid lightgray;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

pre {
  margin: 0.25rem;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

select {
  margin: 2rem;
  font-size: 1.5rem;
  padding: 0.25rem 0.5rem;
}

table {
  border: 1px solid gray;
  border-collapse: collapse;
  margin: auto;
}

th {
  padding: 0.25rem 1rem;
  background-color: lightgray;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
}

td {
  font-family: 'Roboto Mono','Courier New', Courier, monospace;
  font-size: 1rem;
  padding: 0.25rem 1rem;
  border-bottom: 1px solid gray;
  text-align: left;
}

tr.error {
  color: red;
}

tr.success {
  color: green;
}

table table tr {
  color: black;
}