diffusers==0.27.2
accelerate==0.28.0
torchvision==0.17.1
transformers==4.39.1
datasets==2.18.0
peft==0.10.0
flytekitplugins-kfpytorch==1.11.0
flytekit==1.11.0
kubernetes==29.0.0
huggingface-hub==0.22.2
flytekitplugins-envd==1.11.0
